<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.voe.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.voe.app</string>
				<string>com.googleusercontent.apps.79915571390-v910mjv94lmgod0nrcu1vj9ctb3tdm22</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
