/* Hide scrollbar but keep scrolling */

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge (на всякий случай) */
* {
  -ms-overflow-style: none;
}
